*{
    padding: 0;
    margin: 0;
    list-style: none;
    color: white;
    font-family: sans-serif;
}

:root {
    --cor-1: #10151B;
    --cor-2: #ffff;
    --cor-3: #821ED0;
    --cor-4: #121922;
}

a{
    text-decoration: none;
    color: var(--cor-3);
}

@font-face {
    font-family: INTER3;
    src: url('fonts/inter/static/Inter-ExtraBold.ttf')
}

@font-face {
    font-family: INTER2;
    src: url('fonts/inter/static/Inter-Thin.ttf')
}

@font-face {
    font-family: INTER1;
    src: url('fonts/inter/static/Inter-Regular.ttf')
}